*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 418px;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    Width:444px;
    Height:537px;
    top: 100px;
    left: 418px;
    border-radius: 10px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.image img{
    position: absolute;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 442px;
    top: 263px;
    bottom: 0;
}
.welcome-back p{
    color: #757575;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17.57px;
}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 30.12px;
    margin-bottom: 12px;
}
#name, #email, #password, #confirmPassword{
    width: 352px;
    height: 36px;
    padding: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 6px;
    margin-bottom: 12px;
}
#submit{
    width:352px;
    height: 55.8px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    cursor: pointer;
}
h4{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #625BF7;
    margin-top: 12px;
    margin-bottom: -12px;
}

.no-account{
    color: #333333;
    margin-top: 12px;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    gap: 5px;
}

a{
    text-decoration: none;
    color: #625BF7;
}
label{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
@media screen and (max-width:480px){
    
    .container{
        width: 316px;
        height: 438px;
    }
    .welcome-back p{
        margin-left: 20px;
    }
    h2{
        font-size: 20px;
        margin-left: 20px;
        line-height: 30.12px;
    }
    #name, #email, #password, #confirmPassword{
        width: 250.52px;
        height: 31.04px;
        margin-left: 20px;
    }
    label{
        margin-left: 20px;
    }
    #submit{
        width:250.52px;
        height: 48.11px;
        margin-left: 20px;
    }
    h4{
        display: none;
    }
}

@media screen and (max-width:340px){
    .container{
        width: 240px;
    }
    .welcome-back p{
        color: #463EEA;
        margin-left: 10px;
    }
    h2{
        font-size: 16px;
        margin-left: 10px;
    }
    #name, #email, #password, #confirmPassword{
        width: 225px;
        margin-left: 1px;
    }
    label{
        margin-left: 1px;
    }
    #submit{
        width:200px;
    }
}